<!DOCTYPE html>
<html>

<head>
    <title>Kurs VueJS</title>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="showDiv" /> Pokazać div?
        <div :style="showDiv ? 'display: block;' : 'display:none;'">
            <input type="number" v-model="inputValue" /> {{ 'Kwadrat liczby ' + inputValue + ' jest' }} {{ (inputValue*inputValue)>100 ? 'większy od 100' : 'mniejszy bądź równy 100' }}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>